<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Flask Card</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <meta charset="utf-8">
</head>

<body>
  <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="#">Flask Card</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron">
    <h1 class="display-3">Hello, Flask Card</h1>
    <p class="lead">This is a final project for CS3380 in University of Missouri-Columbia.</p>
    <ul class="list-group">
      <li class="list-group-item active">Our Team</li>
      <li class="list-group-item">Professor: Musser Dale</li>
      <li class="list-group-item">Student: Christopher Wong</li>
      <li class="list-group-item">Student: Qiwen Guo</li>
      <li class="list-group-item">Student: Haiyan Hu</li>
      <li class="list-group-item">Student: Roger Kiew</li>
      <li class="list-group-item">Student: Melissa Hollingshed</li>
      <li class="list-group-item">Student: Chase Scott</li>
    </ul>
    <hr class="my-4">
    <p>Flask Card is a web application that let users to sign in, log in, create new sets and cards, and review the cards.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">Try it Out!</a>
    </p>
  </div>


  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>
