<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Flask Card</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <meta charset="utf-8">
</head>

<body>
  <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="#">Flask Card</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron">
    <h1 class="display-4 text-center">Flask Card Login</h1>
    <div class="container">
      <form action="/login" method="post">
        <div class="form-group">
          <label for="userName">User Name</label>
          <input type="text" class="form-control" placeholder="username" name=username>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="Password" name=password>
        </div>
        <div class="btn btn-default btn-lg">
          <button type="submit" class="btn btn-primary">Log in</button>
        </div>
        <div class="btn btn-default btn-lg">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#signinModal">Sign up</button>
        </div>
      </form>
      {% if login_fail %}
      <div class="alert alert-danger" role="alert">
        Wrong Username or Password!
      </div>
      {% endif %}
      <div class="modal fade" id="signinModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Sign In to Flask Card</h4>
            </div>
            <div class="modal-body">
              <form action="/sign-up" method="post">
                <div class="form-group">
                  <label for="userName">User Name</label>
                  <input type="text" class="form-control" placeholder="username" name=newUsername>
                </div>
                <div class="form-group">
                  <label for="fullName">Full Name</label>
                  <input type="text" class="form-control" placeholder="fullname" name=newFullName>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password" name=newPassword>
                </div>
                <div class="form-group">
                  <label for="passwordConfirmed">Confirm Password</label>
                  <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" onkeyup='check();'>
                  <label><span id='message'></span></label>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Sign up</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 </div>

              </form>
            </div>
            
          </div>

        </div>
      </div>
    </div>
  </div>

  <script>
  var check = function() {
    if (document.getElementById('password').value ==
      document.getElementById('confirm_password').value) {
      document.getElementById('message').style.color = 'green';
      document.getElementById('message').innerHTML = 'Password is matched';
    } else {
      document.getElementById('message').style.color = 'red';
      document.getElementById('message').innerHTML = 'Confirm Password is not matched';
    }
  }
  </script>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>
